{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "semi": [1, "always"],
    "camelcase": [0],
    "no-return-assign": [0],
    "space-before-function-paren": [2, "never"],
    "no-debugger": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-bind": [1, {
      "allowArrowFunctions": true
    }],
    "handle-callback-err": [0],
    "react/prop-types": [0]
  },
  "globals": {
    "_MOBILE_": true,
    "_SPLIT_": true,
    "_SERVER_": true,
    "_CLIENT_": true
  }
}
